{% extends "base.html" %}
{% import "render_lightcurves.html" as render_lightcurves %}
{% block content %}
<body>
<div class="container">
<h2>Obsid Summary - <a href="https://nxsa.esac.esa.int/nxsa-web/#obsid={{ content['obsid'] }}">{{ content['obsid'] }}</h2></a>
<table class="table table-sm">
<thead>
<tr>
<th>Index</th>
<th>Event Information</th>
</tr>
</thead>
<tbody>
{% for i, row in content['evt_info'].items() %}
<tr>
<td>{{ i }}</td>
<td>{{ row }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<pre>
{{render_lightcurves.render_lightcurves(content['lightcurves']) }}
</pre>
</body>
</div>
{% endblock %}
