{% extends "base.html" %}
{% import "render_lightcurves.html" as render_lightcurves %}
{% block content %}
<body>
    <h2> Lightcurves for otype: {{ content['otype'] }}</h2>
    <div class="container">
       <div class="row">
           <div class="col-auto" style="width: 25%;">
               <table class="table table-sm">
                   <thead>
                   <tr>
                       <th>Object Type</th>
                       <th>Count</th>
                   </tr>
                   </thead>
                   <tbody>
                   {% for i, row in content['df_otype_stats'].iterrows() %}
                   <tr>
                       <td><a href="{{ url_for('otype', otype=row['otype']) }}">{{ row['otype'] }}</a></td>
                       <td>{{ row['object_count'] }}</td>
                   </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
           <div class="col-auto" style="width: 75%;">
           <h2> Unique Regions with SIMBAD Crossmatch</h2>
               <table border="1">
                    <thead>
                        <tr>
                            <th>Main ID</th>
                            <th>Main Type</th>
                            <th>RA</th>
                            <th>Dec</th>
                            <th>Sep ('')</th>
                            <th>SIMBAD</th>
                            <th>ESASKY</th>
                            <th>Unique Region</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, row in content['df_cmatch_simbad_otype'].iterrows() %}
                        <tr>
                            <td><a href="http://simbad.u-strasbg.fr/simbad/sim-id?Ident={{ row['main_id'] }}">{{ row['main_id'] }}</a></td>
                            <td>{{ row['main_type'] }}</td>
                            <td>{{ '%0.4f' | format(row['ra_deg'] | float) }}</td>
                            <td>{{ '%0.4f' | format(row['dec_deg'] | float) }}</td>
                            <td>{{ '%0.2f' | format(row['SEP_ARCSEC'] | float) }}</td>
                            <td><a href="https://simbad.cds.unistra.fr/simbad/sim-basic?Ident={{row['ra_deg']}} {{row['dec_deg']}}">SIMBAD</a></td>
                            <td><a href="https://sky.esa.int/esasky/?target={{row['ra_deg']}} {{row['dec_deg']}}&hips=XMM-Newton+EPIC+color&fov=0&cooframe=J2000&sci=true&lang=en">ESASKY</a></td>
                            <td><a href="/region/{{ i }}">{{i}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
           <h2>One Plot Lightcurves</h2>
           {% for lc in content['lcs_one_plot'] %}
           <img src="data:image/png;base64,{{ lc }}">
           {% endfor %}
           </div>
       </div>
    </div>
</body>
{% endblock %}
