{% extends "base.html" %}
{% block content %}
<body>
    <h2> Lightcurves for otype: {{ content['otype'] }}</h2>
    <div class="container">
       <div class="row">
           <div class="col-auto" style="width: 10%; position: fixed; top:30; left: 0; height: 100%; overflow-y: auto;">
           {% for i, row in content['df_otype_stats'].iterrows() %}
           <a href={{url_for('otype', otype=row['otype'])}}>{{ row['otype'] }} {{row['object_count']}}</a></br>
           {% endfor %}
            </div>
            <div class="col-auto" style="width: 90%;">
            <h2> Unique Regions with SIMBAD Crossmatch</h2>
            {% for i, row in content['df_cmatch_simbad_otype'].iterrows() %}
            SEP_ARCSEC={{'%0.2f'| format(row['SEP_ARCSEC']|float)}} ra_deg={{'%0.2f'| format(row['ra_deg']|float)}} dec_deg={{'%0.2f'| format(row['dec_deg']|float)}} main_id={{row['main_id']}} main_type={{row['main_type']}} <a href="https://sky.esa.int/esasky/?target={{row['ra_deg']}} {{row['dec_deg']}}&hips=XMM-Newton+EPIC+color&fov=0&cooframe=J2000&sci=true&lang=en">ESASKY</a> | <a href="/region/{{i}}">Region</a></br>
            {% endfor %}
            <h2> Lightcurves </h2>
            {% for lightcurve in content['lightcurves'] %}
            <a href={{url_for('region_summary', region_id=lightcurve['region_id'])}}><img src="data:image/png;base64,{{lightcurve['data_url']}}"></a>
            {% endfor %}
            <pre>
            </pre>
            </div>
       </div>
    </div>

</body>
{% endblock %}
