
{% extends "base.html" %}
{% block content %}
<body>
<div class="container">
<h2>Subset Browser</h2>
<p>This page contains links to various detection subsets from EXOD, they can be useful
in searching for specific types of sources.</p>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Subset Name</th>
                <th>Regions</th>
                <th>Unique</th>
            </tr>
        </thead>
        <tbody>
            {% for subset in subsets %}
            <tr>
                <td><a href="{{ url_for('show_subset', subset_num=subset.id) }}">{{ subset.name }}</a></td>
                <td>{{ subset.n_reg }}</td>
                <td>{{ subset.n_unique }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}

